h1 {
    color: blue;
}

h2 {
    color: red;
}

h3 {
    color: green;
}

h4 {
    color: purple;
}

#second-h1-tag{
    color: red;
    background-color: black;
    border: 3px solid red;
}

.third-h1-tag-class{
    color: pink;
}

p, .p-class{
    color: aqua;
    border: 3px dotted blue;
}

.p-class p{
    color: chocolate;
    border: 3px groove rgb(247, 15, 185);
}