.box1{
    border: 3px red solid;
}

.box2{
    border: 3px blue solid;
}

.box1up{
    border: 3px purple solid;
    margin: 15px;
    padding: 20;
}

.box1down{
    border: 3px purple solid;
    margin: 30px;
    padding: 10;
}