*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    margin: 100px auto;

}

.card{
    background-color: #373f4d;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 60px 50px;

}

.card .form-group{
    margin-bottom: 20px;
}

.card h1{
    font-size: 22px;
    margin-bottom: 15px;
    
}

.card p{
    font-size: 15px;
    margin-bottom: 30px;
    
}

#submit-button{
    display: block;
    width: 100%;
    padding: 15px 10px;
    font-size: large;
    background : linear-gradient(
        90deg,
        rgba(242,132,62,1) 21%,
        rgba(239, 111, 69, 1) 61%
    );
    color: #ffffff;
    
}

#submit-button:hover{
    background : linear-gradient(
        90deg,
        rgba(232,132,62,1) 21%,
        rgba(229, 111, 69, 1) 61%
    );
}

#text{
    width: 100%;
    padding: 15px 10px;
    font-size: large;

}